In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.metrics import r2_score, mean_squared_error
import pickle

In [2]:
X_test = pd.read_csv("../data/raw/X_test.csv", parse_dates=['year'])
X_test['year'] = X_test['year'].dt.year
y_test = pd.read_csv("../data/raw/y_test.csv")

In [3]:
X_test

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,12000,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0
1,12001,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0
2,12004,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0
3,12013,skoda,Scala,2019,Manual,3257,Petrol,145.0,49.6,1.0
4,12017,audi,RS6,2015,Semi-Auto,20982,Petrol,325.0,29.4,4.0
...,...,...,...,...,...,...,...,...,...,...
2667,19618,audi,A7,2015,Semi-Auto,21100,Petrol,325.0,29.7,4.0
2668,19620,merc,CLS Class,2015,Automatic,60972,Diesel,160.0,52.3,3.0
2669,19626,ford,Puma,2020,Manual,4111,Petrol,145.0,50.4,1.0
2670,19630,merc,CLA Class,2016,Automatic,25726,Petrol,200.0,41.5,2.0
2671,19631,vauxhall,Antara,2007,Automatic,99500,Diesel,565.0,32.8,2.0

In [4]:
y_test['price']

0       38000
1       23495
2       59999
3       16713
4       46000
        ...
2667    28990
2668    17450
2669    21995
2670    18700
2671     2999
Name: price, Length: 2672, dtype: int64

In [5]:
final_model = pickle.load(open('../deployment/final_model.pickle', 'rb'))

In [6]:
y_predict = final_model.predict(X_test)

In [7]:
len(y_predict)

2672

In [8]:
len(y_test)

2672

In [9]:
Neg_RMSE = np.sqrt(mean_squared_error(y_test['price'],y_predict))

In [10]:
r2 = r2_score(y_test['price'], y_predict)

In [11]:
scores_df = pd.DataFrame(
        {'Neg_RMSE': [Neg_RMSE],
        'R_sqaured': [r2]}
        )

In [12]:
scores_df

     Neg_RMSE  R_sqaured
0  3391.45522   0.958248